// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors:
$moss: #365622;
$asparagus: #86AD77;
$off-white: #FAFAFA;
$tangerine: #EF907B;
$burgundy: #AE133B;
$blue-black: #080E21;
