<div class="banner">
  <div class="banner-content text-center">
    <h1>Start growing fresh vegetables now!</h1>
    <p>You can check the vegetables recomended to grow in your area</p>
    <%= link_to "Start Growing", crops_path, class: "btn btn-primary"%>
  </div>
</div>
