<div class="footer">
  <div class="footer-links">
    <div class="crop-container-img">
      <%= image_tag 'gardensindex', class: 'footer-img' %>
      <div><%= link_to "Gardens", gardens_path, class: 'btn btn-primary footer-link' %></div>
    </div>
    <div class="crop-container-img">
      <%= image_tag 'cropsindex', class: 'footer-img' %>
      <%= link_to "Crops", crops_path, class: 'btn btn-primary footer-link' %>
    </div>
   </div>
</div>
