<div class="footer">
  <div class="footer-links">
    <div><%= link_to "My Gardens", gardens_path, class: 'btn btn-primary footer-link' %></div>
    <div><%= link_to "Crop Lists", crops_path, class: 'btn btn-primary footer-link' %></div>
    <div class="btn btn-primary footer-link"><li><%= "Plant Favorites: (#{@favorite_crops})" %></li></div>
  </div>
</div>
