<div class="crop-card">
  <div class="card-body">
    <div class="card-text">
      <h2><%= crop.name %></h2>
      <p><%= crop.plant_family %></p>
      <%= link_to toggle_favorite_crop_path(crop), method: "POST" do %>
        <i class="far fa-square"></i>
      <% end %>
    </div>
    <%= image_tag crop.image_url %>
  </div>
</div>
