<div class="crops">
  <% @crops.each do |crop| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= crop.name %></h2>
        <p><%= crop.description %></p>
      </div>
        <i class="far fa-square"></i>
    </div>
  <% end %>
</div>
