<div class="crop-favorite-card">
  <div class="crop-favorite-card-body">
    <div class="crop-favorite-card-text">
      <h2><%= crop.name %></h2>
      <p><%= crop.plant_family %></p>
    </div>
    <%= link_to crop_path(crop) do %>
      <%= image_tag crop.image_url %>
    <% end %>
  </div>
</div>
