  <%= form_tag crops_path, method: :get, class: 'input-group py-3' do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control border border-primary",
    data: { behavior: "autocomplete" },
    placeholder: "Find your crops by name..."
  %>
  <div class="input-group-append">
    <%= button_tag(class: "btn btn-outline-primary") do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
<% end %>
