<div class="crops">
  <% if @favorites.any? %>
    <% @favorites.each do |favorite| %>
      <div class="crop-card">
        <%= render "favorited_crop", crop: favorite %>
      </div>
    <% end %>
  <% else %>
    <p>Your seed storage is empty...</p>
  <% end %>
  <%= link_to "Find Seeds", crops_path, class: "btn btn-primary w-100" %>
</div>
