<% if @favorites.any? %>
  <div class="crops">
    <div id="favorites" style="border: 1px solid red">
      <% @favorites.each do |favorite| %>
        <%= render "crop", crop: favorite %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>Your seed storage is empty...</p>
<% end %>
<%= link_to "Find Seeds", crops_path, class: "btn btn-primary" %>
