<div data-controller="toggle-favorite">
  <div class="cropes">
    <% @crops.each do |crop| %>
      <%= render "crop", crop: crop %>
    <% end %>
  </div>
  <% if @favorites.any? %>
    <div class="crops">
      <div style="border: 1px solid red">
        <% @favorites.each do |favorite| %>
          <%= render "favorited_crop", crop: favorite %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
