<div data-controller="mark-crops">
  <div class="container container-crops-index">
    <%= render 'search_bar_crops', crops: @crops %>
    <%= render 'crops', crops: @crops %>
  </div>
  <%= render 'shared/footer', favorite: current_user.favorites_by_type('Crop').count %>
</div>
