<div class="container-weather">
  <div class="card-weather">
    <h3><%= @garden.location %></h3>
    <%= image_tag("default_weather.png") %>
    <div class="container-temp-info">
      <small>location uknnown</small>
    </div>
  </div>
</div>
