<div class="card-plot">
  <%= image_tag(tile.plot.crop.image_url) %>
  <p><%= tile.plot.crop.name %></p>
  <p><%= pluralize(tile.plot.crop.min_days_to_harvest - (Date.today.to_date - tile.plot.created_at.to_date).to_i, 'days') %> till harvest</p>
</div>
