<%= render 'gardens/weather' %>
<% @gardens.each do |garden| %>
  <div class="garden-card">
    <h2><%= garden.location %> Garden</h2>
    <p><%= garden.height %> meters x <%= garden.width %> meters</p>
  </div>
<% end %>
