<div class="container" data-controller="tile-container">
  <div class="row">
    <% @tiles.each do |tile| %>
      <div class="col border" id="<%= tile.id %>" data-tile-container-target="tile" data-action='click->tile-container#changeClass'><%= tile.x_position %> <%= tile.y_position %></div>
    <% end %>
  </div>
</div>
<div><%= link_to "Add my vegetables", new_garden_plot_path(@garden), value: { } %></div>
