.btn-gardens {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
}

.btn-gardens-add-plot {
  width: 100%;
  background-color: $asparagus;
  font-weight: bold;
}

//FIX THIS LATER!!!
.btn-sticky-top {
  position: sticky;
  top: 78px;
  z-index: 3;
}

.btn-shadow {
  box-shadow: 0 0 2px $asparagus;
}
