// General card styles
.card-nouyuu {
  margin: 8px;
  padding: 8px;
  border-radius: 16px;
}

// Crops#Index cards. Start with... .card-crops-index-

.card-crop-index {
  position: relative;
  background-color: $mint;
  border-radius: 16px;
  margin: 8px 0;
  scroll-margin-top: 7.5em;
}

.card-crop-index-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0px 16px;
  img {
    width: 120px;
    object-fit: contain;
  }
}

.star {
position: absolute;
z-index: 2;
top: 8px;
left: 8px;
color: $off-white;
 i {
   font-size: 24px;
 }
}

.marked {
color: $burgundy !important;
}

.card-crop-index-text {
  margin-top: 32px;
}


// Crops#Show cards. Start with... .card-crops-show-

.card-crops-show-body {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 100%;
  background-color: $mint;
  border-radius: 16px;
  margin: 16px;
  h1 {
    text-align: center;
    padding: 8px 24px;
    margin: 0px;
  }
  h5 {
    margin: 0px;
  }
  p {
    margin-bottom: 8px;
    font-size: 14px;
    text-align: justify;
    line-height: 1.4;
  }
}

.favorite-star-show {
  position: absolute;
  z-index: 2;
  left: 296px;
  top: 8px;
}

.card-crops-show {
  position: relative;
  padding: 0px 16px;
  img {
    width: 170px;
    object-fit: contain;
  }
}

.card-crops-show-img{
  display: flex;
  justify-content: center;
}


.card-crops-show-description {
  background-color: $eggshell;
  border-radius: 16px;
  padding: 1px 15px;
  margin-bottom: 16px;
  h5 {
    padding-top: 8px;
    margin-bottom: 1vh;
  }
}

.card-crops-show-plant-family {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  p {
    margin-bottom: 0px;
  }
}

.card-crops-show-bottom-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 15px;
    p {
    margin-bottom: 0px;
  }
}

.card-crops-show-white-container {
  border-radius: 16px;
  background-color: $off-white;
  padding: 8px 0px;
  margin-bottom: 16px;
  h5 {
    text-align: center;
  }
  .fa-sun {
    color: #ff6600;
    font-size: 24px;
  }
  .fa-cloud-sun {
    color: #b9a7e4;
    font-size: 24px;
  }
}

.card-crops-show-return-link {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 24px;
  z-index: 2;
}

// Gardens#Index cards. Start with... .card-gardens-index-

.card-gardens-index {
  position: relative;
  background-color: $weak-yolk;
  border-radius: 16px;
  padding: 8px 16px;
  margin: 8px;
}

.card-gardens-index-header {
  background-color: $moss;
  background-image: url('vines.png');
  background-size: cover;
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 8px;
  h2 {
    font-size: 1.8rem;
    color: $off-white;
    font-weight: bold;
  }
  p {
    margin: 4px 8px;
    color: $off-white;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.card-gardens-index-details {
  margin: 8px 0px;
  padding: 8px 16px;
  h3 {
    font-size: 1.4rem;
  }
  p {
    margin: 4px 8px;
  }
  img {
    width: 30px;
    object-fit: contain;
  }
}

// Other cards. Start with... .card-other-


.card-widget {
  text-align: center;
  width: 100%;
  padding: 8px;
  h3 {
    font-size: 1.2rem;
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-color: $mint;
    border-radius: 16px;
  }
}

// .card-widget-plot {
//   text-align: center;
//   width: 100%;
//   padding: 8px;
//   img {
//     width: 50px;
//     background-color: $mint;
//     border-radius: 16px;
//   }
// }

.card-other-note {
  margin-top: 16px;
  background-color: $weak-yolk;
}
