// General card styles
.card-nouyuu {
  margin: 8px;
  padding: 8px;
  border-radius: 16px;
}

// Crops#Index cards. Start with... .card-crops-index-

// Crops#Show cards. Start with... .card-crops-show-

// Crops#Favorite cards. Start with... .card-crops-fav-

// Gardens#Index cards. Start with... .card-gardens-index-

// Other cards. Start with... .card-other-

.card-other-note {
  margin-top: 16px;
  background-color: $weak-yolk;
}
