.container {
  height: 100vh;
}

.container-garden-perspective {
  perspective: 1000px;
}

.container-info-widget {
  display: flex;
  justify-content: space-between;
  background-image: url(background-mint.png);
  background-size: contain;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 4px $light-gray;
}

.container-temp-info {
  display: flex;
  justify-content: space-between;
  p {
    margin: 4px;
  }
  small {
    margin: 8px;
  }
}

.container-for-container-garden-title {
  display: flex;
  justify-content: center;
}

.container-garden-in-between-title {
  background-color: $weak-yolk;
  border-radius: 5px;
  margin-top: 8px;
  text-align: center;
  opacity: 0.6;
  width: 130px;
  h3 {
    color: black;
    margin: 0px;
    font-size: 16px;
    padding: 8px 8px;
    display: inline-block;
  }
}
.container-garden-show-bg {
  // height: 100vh;
  background: rgb(229,240,242);
  background: linear-gradient(360deg, rgba(229,240,242,1) 50%, rgba(163,239,255,1) 100%);
}
