// For the crop#index cards

.red {
  color: red;
}

.crop-index-card {
  position: relative;
  background-color: $mint;
  border-radius: 16px;
  margin: 8px 0;

  small {
    position: absolute;
    top: 85px;
    right: 16px;
  }
}

.crop-index-card-body {
  display: flex;
  justify-content: space-around;
  img {
    width: 120px;
    object-fit: contain;
  }
}

.crop-index-card-text {

}
