.card-body {
  display: flex;
  justify-content: space-between;
}

.crop-card {
  position: relative;
  img {
    position: absolute;
  }
  background-color: #BDDBD0;
  border-radius: 4px;
  ;
  border: solid grey 1px
}
