// For the crop#index cards

.crop-index-card {
  position: relative;
  background-color: $mint;
  border-radius: 16px;
  margin: 8px 0;
}

.crop-index-card-body {
  display: flex;
  justify-content: space-around;
  img {
    width: 120px;
    object-fit: contain;
  }
}

.crop-index-card-text {

}
