.garden {
  display: grid;
}

.tile {
  height: 60px;
  background-image: url(tile.png);
  border: 1px solid $off-white;
  border-radius: 4px;
  img {
    object-fit: contain;
    width: 100%;
  }
}

.selected {
  border: 1px solid $tangerine;
}
