.garden {
  display: grid;
  overflow: scroll;
  margin: 32px 0;
  justify-content: center;
  transform: rotateX(45deg);
}

.tile {
  position: relative;
  height: 60px;
  background-image: url(tile.png);
  border: 1px solid $off-white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
  canvas {
    position: absolute;
    bottom: 0;
    width: 60px !important;
    height: 120px !important;
  }
  .droplet {
  position: absolute;
  width: 20px;
  top: 5px;
  }
}

.selected {
  opacity: 0.7;
}

.gardens-index-start-button {
  margin-top: 16px;
  margin-bottom: 8px;
}
