.container-weather {
  display: flex;
  justify-content: space-between;
}

.card-weather {
  background-image: url(background-mint.png);
  background-size: contain;
  text-align: center;
  width: 100%;
  padding: 8px;
  img {
    width: 50px;
    background-color: $mint;
    border-radius: 16px;
  }
}

.container-temp-info {
  display: flex;
  justify-content: space-between;
  p {
    margin: 4px;
  }
  small {
    margin: 8px;
  }
}
