
.card-weather {
    background-color: $eggshell;
    text-align: center;
    width: 100%;
    padding: 8px;
    img {
      width: 50px;
    }
}

.temp-info-container {
  display: flex;
  justify-content: space-between;
}
